doctype html
html
  head
    meta(charset='utf-8')
    title= 'RedirectServer：' + t(title)
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', name='viewport')
    meta(content='', name='description')
    meta(content='', name='author')
    link(href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700', rel='stylesheet')
    link(href='/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css', rel='stylesheet')
    link(href='/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='/css/animate.min.css', rel='stylesheet')
    link(href='/css/style.min.css', rel='stylesheet')
    link(href='/css/style-responsive.min.css', rel='stylesheet')
    link#theme(href='/css/theme/default.css', rel='stylesheet')
    block pageCSS
    script(src='/plugins/pace/pace.min.js')
  body
    #page-container.page-sidebar-fixed
      #header.header.navbar.navbar-default.navbar-fixed-top
        .container-fluid
          .navbar-header
            a.navbar-brand(href='/')
              span.navbar-logo
              |  STARTEK
          ul.nav.navbar-nav.navbar-right
            li.dropdown.navbar-user
              a.dropdown-toggle(href='javascript:;', data-toggle='dropdown')
                span.hidden-xs About
                b.caret
              ul.dropdown-menu.animated.fadeInLeft
                li
                  a(href='http://www.startek.com.tw/' target='_blank')
                    span.badge.badge-danger.pull-right n
                    | startek website
      #sidebar.sidebar
        div(data-scrollbar='true', data-height='100%')
          ul.nav
            li.nav-header RedirectServer
            li(class="#{current === 0 ? 'active' : ''}")
              a(href='/')
                i.fa.fa-file-code-o
                span #{t('serverStatus')}
            li(class="#{current === 5 ? 'active' : ''}")
              a(href='/log/restful-api')
                i.fa.fa-archive
                span #{t('serverLogCheck')}
            li(class="#{current === 6 ? 'active' : ''}")
              a(href='/log/bioServerInfo')
                i.fa.fa-archive
                span #{t('bioserverInfo')}
            li(class="#{current === 8 ? 'active' : ''}")
              a.sidebar-minify-btn(href='javascript:;', data-click='sidebar-minify')
                i.fa.fa-angle-double-left
      .sidebar-bg
      #content.content
        block content
    script(src='/plugins/jquery/jquery-1.9.1.min.js')
    script(src='/plugins/jquery/jquery-migrate-1.1.0.min.js')
    script(src='/plugins/jquery-ui/ui/minified/jquery-ui.min.js')
    script(src='/plugins/bootstrap/js/bootstrap.min.js')
    //if lt IE 9
      script(src='/crossbrowserjs/html5shiv.js')
      script(src='/crossbrowserjs/respond.min.js')
      script(src='/crossbrowserjs/excanvas.min.js')
    script(src='/plugins/slimscroll/jquery.slimscroll.min.js')
    script(src='/plugins/jquery-cookie/jquery.cookie.js')
    block pageJS
    block onPageJS
         
